@model VSMS.Web.ViewModels.OpportunitySkillViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Opportunity</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Opportunity.OrganizationId" class="control-label">Organization</label>
                <select asp-for="Opportunity.OrganizationId" class ="form-control" asp-items="ViewBag.Organizations"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Opportunity.Title" class="control-label"></label>
                <input asp-for="Opportunity.Title" class="form-control" />
                <span asp-validation-for="Opportunity.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Opportunity.EventDate" class="control-label"></label>
                <input asp-for="Opportunity.EventDate" class="form-control" />
                <span asp-validation-for="Opportunity.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Opportunity.Location" class="control-label"></label>
                <input asp-for="Opportunity.Location" class="form-control" />
                <span asp-validation-for="Opportunity.Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Opportunity.MaxVolunteers" class="control-label"></label>
                <input asp-for="Opportunity.MaxVolunteers" class="form-control" />
                <span asp-validation-for="Opportunity.MaxVolunteers" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label class="control-label fw-bold">Select Required Skills:</label>
                <div class="card p-3">
                    @foreach (var skill in Model.AvailableSkills)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="SelectedSkillIds" value="@skill.SkillId" id="skill_@skill.SkillId" />
                            <label class="form-check-label" for="skill_@skill.SkillId">
                                @skill.Name (@skill.Category)
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
